/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.card{
    padding: 10px;
    border: solid 2px gray;
    max-width: 500px;
    font-size: 2em;
    line-height: normal;
    margin: 5px;
}
.space-between{
    display: flex;
    justify-content: space-between;
}